body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('images/barber.jpg');
    background-size: 1;
    background-position: center;
    margin: 0;
    padding: 20px;
    color: #444;
    text-align: center;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }

    .content-box {
        width: 90%;
    }
}
